importClassesFrom(rtracklayer, "Quickload", "QuickloadGenome")
importMethodsFrom(rtracklayer, "genome", "uri")
importClassesFrom(GenomicRanges, "GRanges")
importFrom(rtracklayer, "genome", "genome<-", "track<-", "uri")
exportMethods("ViewInIGB", "genome", "genome<-", "track<-")
exportClasses("igbTrack", "igbSession")
export("showInIGB")
