importClassesFrom(rtracklayer, "Quickload", "QuickloadGenome")
importMethodsFrom(rtracklayer, "genome", "uri")
importClassesFrom(GenomicRanges, "GRanges")
importFrom(rtracklayer, "genome", "genome<-", "track<-", "uri")
exportMethods("ViewInIGB", "genome", "genome<-", "track<-", "trackList<-", "region", "region<-", "loadmode", "loadmode<-", "uri", "uri<-", "trackList<-")
exportClasses("igbTrack", "igbSession", "igbTrackList")
export("ViewInIGB", "genome", "genome<-", "track<-", "trackList<-", "region", "region<-", "loadmode", "loadmode<-", "uri", "uri<-", "igbSession", "igbTrackList", "trackList<-", "igbTrack" )
#export("showInIGB", "igbTrackList", "trackList<-", "igbSession", "region", "region<-", "track", "track<-", "chromosome", "chromosome<-")
