importClassesFrom(rtracklayer, "Quickload", "QuickloadGenome")
importMethodsFrom(rtracklayer, "genome", "uri")
importClassesFrom(GenomicRanges, "GRanges")
importMethodsFrom(GenomicRanges, "seqnames")
importFrom(rtracklayer, "genome", "genome<-", "track<-", "uri")
exportMethods("ViewInIGB", "genome", "genome<-", "track<-", "trackList<-", "region<-", "loadmode", "loadmode<-", "uri", "uri<-", "trackList<-", "snapshot")
exportClasses("igbTrack", "igbSession", "igbTrackList")
export("ViewInIGB", "genome", "genome<-", "track<-", "trackList<-", "region<-", "loadmode", "loadmode<-", "uri", "uri<-", "igbSession", "igbTrackList", "trackList<-", "igbTrack", "snapshot" )
